[submodule "modules/config"]
  path = modules/config
  url = https://github.com/anselmes/config.git
[submodule "modules/toolchain"]
  path = modules/toolchain
  url = https://github.com/anselmes/toolchain.git
