# Ignore everything
*

# Except these files
!.gitignore
!*.example
!*.md
!boilerplate.txt
!cluster
!gateway/*.yaml
!hello/**/*.yaml
!httproute.yaml
!knative/**/*.yaml
!pod.yaml
!schema/**/*.yaml

# ...even if they are in subdirectories
!*/
